<footer class="footer">
  Docit Enterprises
  PO Box 4078
  Illawong, NSW 2234
  Australia
<br/>
  getdocit@gmail.com - Kevin Aditya
  <div class="socialmedia pull-right"> 
    <div class="circle">
      <a href="##">
        <img height="50px" src="http://getdocit.com/twitter.png"/>
      </a>
    </div>
    <div class="circle">
      <a href="##">
        <img height="50px" src="http://getdocit.com/facebook.png"/>
      </a>
    </div>
    <div class="circle">
      <a href="##">
        <img height="50px" src="http://getdocit.com/google.png"/>
      </a>
    </div>
    <div class="circle">
      <a href="##">
        <img height="50px" src="http://getdocit.com/linkedin.png"/>
      </a>
    </div>
  </div>
</footer>